
.textfont{
    color: black;
    font-size: 12px;
    width: 100px;
    margin-top: 10px;
    padding-top: 10px;
}
.head{
    color: grey;
    font-size: 12px;
    padding-top: -20px;
    padding-right: 80px;
}
.value{
    color: black;
   margin-top: 5px;
   margin-bottom: -12px;
}
.img1{
    height: 20px;
    width: 30px;
    padding: 20px 10px 0px 0px;
}